{% load static %}
<!DOCTYPE html>
<head>
    <title>CV Camilla KLeymen</title>
    <link rel="shortcut icon" href="иконка.ico">
      <style>
   a {
color:#2287C9;
text-decoration: underline;
}

a:active {
color:#2287C9;
text-decoration: underline;
}

a:visited {
color:#2287C9;
text-decoration: underline;
}

a:hover {
color:#339900;
text-decoration: underline;
}
  </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <base target="_blank">
</head>
<body>
    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
				<div class="media flex-column flex-md-row">
					<a href="{% static 'images/photo3.jpg' %}"><img src="{% static 'images/photo3.jpg' %}" alt="image" border="0" width="160" height="220"></a>
					<img class="mr-3 img-fluid picture mx-auto" src="{% static 'assets/images/photo3.jpg' %}" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Камилла Клейменова</h1>
						    <div class="title mb-3">PYTHON DEVELOPER</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="mailto:camillakleymen@gmail.com"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>camillakleymen@gmail.com</a></li>
							    <li><a><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+998 90 350 84 66</a></li>
						    </ul>
					    </div>
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
				                <li class="mb-3"><a href="https://t.me/camilla_kl/"><span class="fa-container text-center mr-2"><i class="fab fa-telegram-plane fa-fw"></i></span>TELEGRAM</a></li>
				                <li><a href="https://psnprofiles.com/twisterblog"><span class="fa-container text-center mr-2"><i class="fab fa-playstation"></i></span>GITHUB</a></li>
						    </ul>
					    </div>
				    </div>
			    </div>
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" style="font-size: 24px;">Я</h2>
				    <div class="resume-section-content">
					    <p class="mb-0" style="font-size: 18px;">Молодой амбициозный програмист-разработчик, который уверен, что сможет внести свой вклад в развитие вашей компании, а также повысить эффективность ее деятельности. Разрабатываю креативные сайты на фреймворке Django(свободно работаю  с HTML, CSS), также создаю огненные сайты на Flask и FastaApi, превосходно работаю с базами данных(SQL, PostgreSQL, SQLite3). Пишу быстрых и надежных Телеграм ботов. Умею работать в Docker и развертываю все проекты на сервер </p>
				    </div>
			    </section>
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" style="font-size: 26px;">О себе</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1" style="font-size: 22px;">Основные качества</h3>
										        <div class="resume-company-name ml-auto">
										        </div>
										    </div>
										    <div class="resume-position-time"></div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p style="font-size: 18px;">Основные качества: стресс устойчивая и коммуникабельная, активный и динамичный подход к задачам, творческий подход к решению проблем, критическое мышление, отличные навыки межличностного общения, финансовая грамотность, хороший командный игрок, а также имеется позитивный настрой к работе.</p>
<!--										    <ul>-->
<!--											    <li><a href="https://vk.com/@russianimp-top-5-faktov-ob-internete-v-metro-vo-vremena-rossiiskoi-impe?ref=group_block" target="_blank">«Метро в Российской империи»</a></li>-->
<!--											    <li><a href="https://vk.com/russianimp?w=wall-44693766_143639" target="_blank">Смешные дореволюционные журналы</a></li>-->
<!--											    <li><a href="https://www.instagram.com/p/ByzmsdVopko/" target="_blank">Политические мемы</a></li>-->
<!--											 </ul>-->
										</div>

								    </article>

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1" style="font-size: 22px;">Ключевые навыки</h3>
										        <div class="resume-company-name ml-auto"></div>
										    </div>
										    <div class="resume-position-time">
												<ul style="font-size:20px">
													<li>Работа с данными на Python</li>
													<li>Проектирование и управление базами данных SQL</li>
													<li>Настройка взаимодействия сервера с базами данных</li>
													<li>Создание веб-сервисов на Django</li>
													<li>Автоматизация развертывания с помощью Docker</li>
													<li>Работа с бэкендом сайтов</li>
													<li>Разработка, тестирование и взаимодействие с API</li>
													<li>Работа с репозиториями Git</li>
												</ul>
											</div>
									    </div>
<!--									    <div class="resume-timeline-item-desc">-->
<!--										    <p>Написал много текстов, разобрался в куче тем. Теперь не боюсь SEO-ключей и делаю вэнити-серч на заказ.</p>-->
<!--										     <ul>-->
<!--											    <li><a href="https://docs.google.com/document/d/1iklxr2ouDfpWy2oLBvaYV86htCMz92rsEYtqV0JmDsU/edit" target="_blank">Как протезировать зубы</a></li>-->
<!--											    <li><a href="https://docs.google.com/document/d/1aehTEK9_h4LxfCoUifVDXXIc8T3LOVgoZK6ITh_Fka4/edit" target="_blank">Зачем чистить кондиционеры</a></li>-->
<!--											    <li><a href="https://docs.google.com/document/d/1apokmN9otgZ2iSTMzgwElkuRLKS_QKM5G4WvHbT2iCM/edit" target="_blank">Почему Москва растёт на Юго-Запад</a></li>-->
<!--											 </ul>-->
<!--									    </div>-->
								    </article>
								    <article class="resume-timeline-item position-relative pb-5">
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1" style="font-size: 22px;">Портфолио</h3>
<!--										        <div class="resume-company-name ml-auto">Django</div>-->
										    </div>
										    <div class="resume-position-time" style="font-size:20px; color: grey" >Django</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										   <ul style="font-size: 18px;">
											    <li><a href="http://185.104.249.10:7575" target="_blank">Интернет Магазин</a></li>
												<li><a href="https://github.com/CamillaKleymen/internetshop.git" target="_blank">Ссылка на GitHub</a></li>
											    <li><a href="http://185.104.249.10:7878" target="_blank">Медиа сайт(Музыка, Фильмы и Книги) </a></li>
											    <li><a  href="https://github.com/CamillaKleymen/.git" target="_blank">Ссылка на GitHub</a></li>
											    <li><a href="http://185.104.249.10:7076" target="_blank">Магазин ювелирных изделий</a></li>
											   	<li><a href="https://github.com/CamillaKleymen/silvershop.git" target="_blank">Ссылка на GitHub</a></li>
											    <li><a href="http://185.104.249.10:7077" target="_blank">Новостной сайт</a></li>
											    <li><a href="https://github.com/CamillaKleymen/shiny-sniffle.git" target="_blank">Сcылка на GitHub</a></li>
											    <li><a href="http://185.104.249.10:" target="_blank">Интернет Резюме</a></li>
											    <li><a href="https://github.com/CamillaKleymen/cv_rezume.git" target="_blank">Ссылка на GitHub</a></li>
											 </ul>
									    </div>
								    </article>
								    <article class="resume-timeline-item position-relative">
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1"></h3>
<!--										        <div class="resume-company-name ml-auto">Telegram bots</div>-->
										    </div>
										    <div class="resume-position-time"style="font-size:20px; color: grey">Telegram bots</div>
									    </div>
									    <div class="resume-timeline-item-desc">
<!--										    <p>Руководил Телеграм-каналом, учил стажёров писать смешные посты, рисовал картинки и вёл прямые репортажи в одном студмедиа. Писал подборки, обзоры и переводил материалы в университетский академический журнал в другом </p>-->
										    <ul style="font-size: 18px;">
											    <li><a href="https://github.com/CamillaKleymen/podliymagazin.git" target="_blank">Интернет магазин</a></li>
											    <li><a href="https://github.com/CamillaKleymen/restaurantservicebot.git" target="_blank">Сервис бот для ресторана</a></li>
											    <li><a href="https://github.com/CamillaKleymen/botforaccountants.git" target="_blank">Бот для бухгалтеров</a></li>
											    <li><a href="https://github.com/CamillaKleymen/kfcbot.git" target="_blank">Бот для фаст фуд заказов</a></li>
											 </ul>
									    </div>
								    </article>
								    <article class="resume-timeline-item position-relative pb-5">
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1"></h3>
<!--										        <div class="resume-company-name ml-auto">FastApi</div>-->
										    </div>
										    <div class="resume-position-time"style="font-size:20px; color: grey">FastApi</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <p></p>
										   <ul style="font-size: 18px;">
											    <li><a href="https://github.com/CamillaKleymen/quiz.git" target="_blank">QUIZ площадка</a></li>
											    <li><a href="https://github.com/CamillaKleymen/silvershopapi.git" target="_blank">Jewelery shop</a></li>
											    <li><a href="https://github.com/CamillaKleymen/socialmedia.git" target="_blank">Социальная сеть</a></li>
											 </ul>
									    </div>
								    </article>
							    </div>
                  		</body>






						    </div>
					    </section>
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Инструменты</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Python</h4>
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">Django</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 89%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">SQL</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 76%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">FastApi</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 77%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

								        <li class="mb-2">
								            <div class="resume-skill-name">Flask</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 23%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">ООП</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 44%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Логирование</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 79%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div>

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Другое</h4>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 68%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">UNIT тестирование</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 89%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Telegram</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 76%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">GIT</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 82%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">DOCKER</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 73%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Supervisor</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										 <li class="mb-2">
								            <div class="resume-skill-name">SWAGGER</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										 <li class="mb-2">
								            <div class="resume-skill-name">EXCEL</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div>

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Не рабочее</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-light">Рисование</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Велоспорт</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Английская литература</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Научные статьи</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Видеоигры</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Графический дизайн</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Плавание</span></li>
						            </ul>
						        </div>
						    </div>
					    </section>
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Знаю</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">Экономика</div>
								        <div class="resume-degree-org">Бакалавриат УГН</div>
								        <div class="resume-degree-time">2022-по наст.вр</div>
								    </li>
								    <li>
								        <div class="resume-degree font-weight-bold">Геоинформационные системы</div>
								        <div class="resume-degree-org">Бакалавриат УГН</div>
								        <div class="resume-degree-time">2022 по наст.вр</div>
								    </li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Сертификаты</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Успешная сдача международного экзамена по програмированию на Python3</div>
								        <div class="resume-award-desc"><a href="https://coursera.org/verify/specialization/7F3MDKKWMX7M" target="_blank">Подтверждённым сертификатом</a></div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Превосходное владение Английским языком</div>
								        <div class="resume-award-desc"><a href="https://ielts.idp.com/results/score" target="_blank">IELTS Certificate</a></div>
								    </li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Разговариваю на</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Русском</span> <small class="text-muted font-weight-normal">Родной</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Английском</span> <small class="text-muted font-weight-normal">(С1)</small></li>
								    <li><span class="resume-lang-name font-weight-bold">Узбекском</span> <small class="text-muted font-weight-normal">(В2)</small></li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Интересуюсь</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Веб программированием</li>
								    <li class="mb-1">Дата Аналитикой</li>
								    <li class="mb-1">Дизайном</li>
							    </ul>
						    </div>
					    </section>

				    </div>
			    </div>
		    </div>


	    </div>
    </article>


</body>
</html>